@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

body,
#textArea,
#output,
#translate-button {
  background-color: #cee5d0;
  color: #1f1d36;
}
#container,
#textArea,
#output,
#translate-button {
  border: 2px solid #1f1d36;
}

#container {
  max-width: 70vw;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #container {
    margin: 4rem auto;
  }
}

header {
  padding: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

#textArea,
#output {
  width: 30vw;
  height: 15vh;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  #textArea,
  #output {
    width: 50vw;
    height: 10vh;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
}

#textArea {
  margin: auto;
}
@media screen and (max-width: 600px) {
  #textArea,
  #output {
    font-size: 1rem;
  }
}

#translate-button {
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  font-weight: bold;
  display: block;
  margin: 1rem auto;
}

@media screen and (max-width: 600px) {
  #translate-button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

#translate-button:hover {
  border: 2px solid #cee5d0;
  background-color: #1f1d36;
  color: #cee5d0;
}

h3,
h4 {
  font-size: 2rem;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  h3,
  h4 {
    font-size: 1.5rem;
  }
}
#output {
  margin: auto;
}

footer {
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
}
